*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}
.logo{
  font-weight: 700;
font-size: 1.5em;
color: var(--bright1);
margin: 0 .5em 0 0;
padding: .5em;
cursor: pointer;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
position: relative;
box-sizing:unset;
}
.navbar {
  padding: 5px 15px;
  height: 2.5em;
  background-color:#7B2428;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  font-weight: 700;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  
}
.marker-position {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
}
#styleButton {
  position: absolute;
  margin-top: 20px;
  left: 50px;
  padding: 10px;
  z-index: 400;
  width: 64px;;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  border-radius: 4px;
  background-color: #fff;
  height: 64px;
  font-weight: 700;
  font-size: 1em;
  font-family : inherit;
  
}
#connection {
  font-size: .9em;
  display: none;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  padding: 8px;
  margin-right:-5px;
  border-radius: 10px;
  background-color: #222;
  cursor: pointer;
  color:#00ff00;
  opacity:0.9;
}
#disconnection {
  font-size: .9em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  padding: 8px;
  margin-right:-5px;
  border-radius: 10px;
  background-color: #222;
  cursor: pointer;
  color:#ff0000;
  opacity:0.9;
}
